<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMac13,2-HUB-1a110000</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>locationID</key>
			<integer>437321728</integer>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				AQAAAA==
				</data>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>usb-port-number</key>
						<data>
						AQAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>#port</key>
						<data>
						AgAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>#usb-port-number</key>
						<data>
						AgAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>#port</key>
						<data>
						AwAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>#usb-port-number</key>
						<data>
						AwAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>model</key>
			<string>iMac13,2</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalHub</string>
		</dict>
		<key>iMac13,2-HUB-1a100000</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>locationID</key>
			<integer>437256192</integer>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				AgAAAA==
				</data>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>usb-port-number</key>
						<data>
						AQAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>255</integer>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>usb-port-number</key>
						<data>
						AgAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>#port</key>
						<data>
						AwAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>#usb-port-number</key>
						<data>
						AwAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>#port</key>
						<data>
						BAAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>#usb-port-number</key>
						<data>
						BAAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>#port</key>
						<data>
						BQAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>#usb-port-number</key>
						<data>
						BQAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>#port</key>
						<data>
						BgAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>#usb-port-number</key>
						<data>
						BgAAAA==
						</data>
						<key>usb-port-type</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>model</key>
			<string>iMac13,2</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalHub</string>
		</dict>
	</dict>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
</dict>
</plist>
